<div class="grid-container full herounit">

	<div class="grid-x">
	  <div class="small-2 cell"></div>
	  <div class="small-2 cell"></div>
	  <div class="auto cell"></div>
	</div>
	<div class="grid-x">
	  <div class="small-12 cell"></div>
	</div>
	<div class="grid-x">
	  <div class="small-9 cell"></div>
	  <div class="auto cell"></div>
	</div>
	<div class="grid-x">
	  <div class="small-4 cell"></div>
	  <div class="small-8 cell"></div>
	</div>

</div>

<div class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="large-12 cell">
      <div class="subscribe">
        <h3>We&rsquo;re stoked you want to try Foundation! </h3>
        <p>To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>
        <p>Once you've exhausted the fun in this document, you should check out:</p>
       
      </div>
    </div>
  </div>
